.company{
    .dialog{
        text-align: left;
    }
    .select{
        width: 100%
    }
    .textarea{
        width: 100%
    }
    .title{

        .block-title{
            text-align: left;

            .title-text{
                font-size: 17px;
            }
        }
    }
    .page{
        text-align: right;
        padding-top: 20px;
    }
    .query{
        width: 220px;
    }
}
