[class^="icon-"] {
    display: inline-block;
    width: 35px;
    height:35px;
    position: relative;
    top: -3px;
}

.is-active {
    .icon-company {
        background: url(../assets/images/project@2x.png);
    }
    .icon-project {
        background: url(../assets/images/project_2@2x.png)
    }
    .icon-commission {
        background: url(../assets/images/Projectcommission_2@2x.png)
    }
    .icon-agent {
        background: url(../assets/images/broker_2@2x.png)
    }
}

.icon-company {
    padding-right: 6px;
    background: url(../assets/images/project_2@2x.png);
    background-repeat:no-repeat;

}
.icon-agent {
    background: url(../assets/images/broker@2x.png);
    padding-right: 6px;
}
.icon-project {
    padding-right: 6px;
    background: url(../assets/images/project@2x.png);
    background-repeat:no-repeat;
}

.icon-commission {
    padding-right: 6px;
    background: url(../assets/images/Projectcommission@2x.png);
    background-repeat:no-repeat;
}
