.addCompany{
text-align: left;
.input-address{
    width: 260px;
    position: absolute;
    right: -60px;
    top: 0;
}
.address{
position: relative;
}
    .title-info{
        text-align: left;
    }
    .idcard-img{
        width: 700px;
        height: 170px;
        margin-top: 10px;
    }
    .idcard-img .id-card-dowm{
        display: inline-block;
        height: 100%;
        width: 49%;
        .img{
            width: 70%;
            height: 100%;
        }
    }
    .idcard{
        position: relative;
    }
    .idcard-img .id-card-up{
        display: inline-block;
        height: 100%;
        width: 50%;
        .img{
            width: 70%;
            height: 100%;
        }
    }
    .add-btn.absolute{
       position: absolute;
       top: -10px;
       right: 42px;
   }
    .add-btn{
        padding: 5px 10px;
        color: rgb(74, 168, 231);
        border: 1px solid rgb(74, 168, 231);
        position: absolute;
        right: 0;
        top: 3px;
    }
    .add-btn:hover{
        color: #fff;
        background-color: rgb(102,177,255)
    }
    .company{
        margin:10px auto;
        width: 800px;
        padding:0 30px 20px 30px;
        background-color: #fefefe;
        border-radius: 10px;
        .title{
            background-color: #cad2dd;
            position: relative;
            text-align: left;
            height: 41px;
            margin-left:-30px;
            margin-right:-30px;
            line-height: 41px;
            .text{
                padding-left: 30px;
            }
            .title-btn{
                position: absolute;
                top: 3px;
                right: 20px;
            }
            .title-btn-left{
                position: absolute;
                top:3px;
                right: 100px;
            }
        }
     .remake{
            font-size: 14px;
        color: #606266;
        }
        .textarea{
            width: 360px;
        }
        .content{
    text-align: left;
    .select{
    }
    .input-title{
        display: inline-block;
        font-size: 14px;
        color: #606266;
    }
            .input{
                width: 200px;
                display: inline-block;
            }
        }
    }
}
